<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInputNombre" placeholder="Nombre Usuario"
                    [(ngModel)]="nombre">
                <label for="floatingInputNombre">Nombre</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInputApellido" placeholder="Apellido Usuario"
                    [(ngModel)]="apellido">
                <label for="floatingInputApellido">Apellido</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInputCedula" placeholder="Cedula Usuario"
                    [(ngModel)]="cedula">
                <label for="floatingInputCedula">Cédula</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInputTelefono" placeholder="Telefono Usuario"
                    [(ngModel)]="telefono">
                <label for="floatingInputTelefono">Teléfono</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInputDireccion" placeholder="Direccion Usuario"
                    [(ngModel)]="direccion">
                <label for="floatingInputDireccion">Dirección</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInputCorreo" placeholder="Correo Usuario"
                    [(ngModel)]="correo">
                <label for="floatingInputCorreo">Correo</label>
            </div>
            <button class="btn btn-primary mb-3" (click)="guardarNuevoUsuario()">Guardar</button>
        </div>
    </div>
</div>
