<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="form-floating mt-5 mb-3">
        <input type="text" class="form-control"
               id="floatingInput" placeholder="Nombre" [(ngModel)]="nombre">
        <label for="floatingInput">Nombre</label>
      </div>

      <div class="form-floating mb-2">
        <input type="text" class="form-control"
               id="floatingInput" placeholder="Apellido" [(ngModel)]="apellido">
        <label for="floatingInput">Apellido</label>
      </div>

      <div class="form-floating mb-2">
        <input type="text" class="form-control"
               id="floatingInput" placeholder="Número de cédula" [(ngModel)]="cedula">
        <label for="floatingInput">Cédula</label>
      </div>

      <div class="form-floating mb-2">
        <input type="text" class="form-control" id="floatingInputTelefono"
               placeholder="Teléfono" [(ngModel)]="telefono">
        <label for="floatingInputTelefono">Teléfono</label>
      </div>

      <div class="form-floating mb-2">
        <input type="text" class="form-control" id="floatingInputDireccion"
               placeholder="Dirección" [(ngModel)]="direccion">
        <label for="floatingInputDireccion">Dirección</label>
      </div>

      <div class="form-floating mb-2">
        <input type="text" class="form-control" id="floatingInputCorreo"
               placeholder="Correo electrónico" [(ngModel)]="correo">
        <label for="floatingInputCorreo">Correo</label>
      </div>

      <button class="btn btn-primary" (click)="actualizarUsuario()">Actualizar</button>
    </div>
  </div>
</div>
